<div class="flex justify-center items-center h-full text-gray-600 bg-gray-300">
    <form
      [formGroup]="createEditForm"
      class="border-2 p-12 rounded-2xl bg-slate-50 space-y-6 shadow-2xl shadow-slate-400"
    >
      <div class="text-center text-2xl font-medium" *ngIf="userId">Update</div>
      <div class="text-center text-2xl font-medium" *ngIf="!userId">Create</div>
      <div>
        <mat-form-field appearance="outline" class="w-96">
          <mat-label>First Name</mat-label>
          <input matInput maxlength="25" placeholder="Ex. Nougat" formControlName="first_name"/>
          <mat-error *ngIf="createEditForm.invalid" class="text-sm">Enter first name</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-96">
          <mat-label>Last Name</mat-label>
          <input matInput maxlength="25" placeholder="Ex. Nougat" formControlName="last_name"/>
          <mat-error *ngIf="createEditForm.invalid" class="text-sm">Enter last name</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-96">
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email_id" />
          <mat-error *ngIf="createEditForm.invalid" class="text-sm"
            >Enter valid email id</mat-error
          >
        </mat-form-field>
      </div>
  
      <!-- <div>
        <mat-form-field appearance="outline" class="w-96">
          <mat-label>Job</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="job" />
          <mat-error *ngIf="createEditForm.invalid">Enter job</mat-error>
        </mat-form-field>
      </div> -->
  
      <div class="flex justify-center space-x-5">
        <button
        mat-stroked-button
        color="primary"
        class="w-40"
        [routerLink]="['/users']"
      >
        Cancel
      </button>
        <button
          mat-flat-button
          color="primary"
          class="w-40"
          (click)="createEdit()"
        >
          <span *ngIf="!userId">
              Create
          </span>
          <span *ngIf="userId">
              Update
          </span>
        </button>
      </div>
    </form>
  </div>
  
